{% raw %}
<h2>API</h2>
<p>query parameters:</p>
<ul>
<li><em>empty</em>: default show latest images</li>
<li>cnt=number: show latest ${cnt} images</li>
<li>reverse: reverse list order</li>
<li>age=${age}..${age}: filter by range (hours)</li>
<li>date=${date}..${date}: filter by date range (format %Y-%m-%dT%H:%M:%S)</li>
</ul>
<p>ranges can be openended.</p>

{% endraw %}
<hline/>
btwe 2022 <a href="https://gitlab.com/btwe/birdweb">birdweb @ gitlab.com</a>

</body>
</html>
