{% include 'header.html.j2' %}

<h2>{{ title }}</h2>
<p>{{ description }} </p>

<p>showing {{ imgfiles | length }}/{{ total }} images:</p>

{% for I in imgfiles %}
{% set href = "img/" + I.name + "?size=f" %}
{% set thumburl = "img/" + I.name + "?size=t" %}
<div style="vertical-align:middle;margin:5x,float:left">
<a href="{{ href }}"><img src="{{ thumburl }}"/>{{ I.name }}</a>
</div>
{% endfor %}

{% include 'footer.html.j2' %}
